.list{
    width: 100%;
}

.list header{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.list header strong{
    font-size: .875rem;
    color:var(--blue);
}

.list header strong:last-child{
    color: var(--purple);
}

.list header strong span{
    margin-left:.7rem;
    background-color: var(--gray-400);
    color: var(--gray-200);
    padding: 0.1875rem 0.5rem;
    border-radius: 1rem;
    height: 19px;
    width: 24px;
    font-size: .75rem;
}

.list main, .list main ul {
    width: 100%;
}

.list main ul{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}